PUBLIC_UMAMI_HOST='replace me'
PUBLIC_UMAMI_WEBSITE_ID='replace me'

# Database
DATABASE_URL='postgresql://fitlog:fitlog@localhost:5433/fitlog'

# Auth
BETTER_AUTH_SECRET='replace-with-random-secret'
ORIGIN='http://localhost:5174'
